.cartContainer {
  position: absolute;
  right: 115px;
  width: 320px;
  top: 85px;
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  border: 1px solid #b6b6b6;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.imgCol {
  width: 120px;
  height: 90px;
  padding-right: 0px;
}
.imge {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.buttons {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.crossBtn {
  position: absolute;
  right: 12px;
  top: 0.5rem;
}
